@page
@model BankStartWeb.Pages.Customers.CustomerDetailsModel
@{
}

<a asp-page="/Customers/Index">Back</a>

<h1>Customer details</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>City</th>
        <th>Country</th>
        <th>Phonenumber</th>
        <th>EmailAddress</th>
        <th>Date of birth</th>
        <th>Total Balance</th>
    </tr>
    <tr>
        <td>@Model.Customer.Givenname</td>
        <td>@Model.Customer.Surname</td>
        <td>@Model.Customer.City</td>
        <td>@Model.Customer.Country</td>
        <td>@Model.Customer.Telephone</td>
        <td>@Model.Customer.EmailAddress</td>
        <td>@Model.Customer.Birthday</td>
        <td>@Model.TotalBalance</td>
    </tr>
</table>
<h2>Bank accounts</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Account type</th>
        <th>Created</th>
        <th>Balance</th>
        <th></th>
    </tr>
    @foreach (var account in Model.Accounts)
    {
            <tr>
                <td>@account.Id</td>
                <td>@account.AccountType</td>
                <td>@account.Created</td>
                <td>@account.Balance</td>
                <td><a asp-page="Transactions" asp-route-id="@account.Id" asp-route-customerId="@Model.Customer.Id">Details</a></td>
            </tr>
    }
</table>
